<div class="container-fluid p-0">
    <div id="course-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container py-6">
                    <div class="text-center mb-5">
                        <h6 class="text-primary text-uppercase mb-2">Trending Courses</h6>
                        <h1 class="display-6 mb-4">Upskill Yourself With Professional Training</h1>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-6">
                            <div class="courses-item">
                                <div class="text-center p-4">
                                    <h5 class="mb-3">Technical Course 1</h5>
                                    <p>"Unlock your potential with our cutting-edge technical courses designed for success."</p>
                                </div>
                                <img class="img-fluid" src="img/tech.jpg" alt="">
                                <!-- <div class="courses-overlay">
                                    <a class="btn btn-outline-light border-2" href="#">Read More</a>
                                </div> -->
                            </div>
                        </div>
                        <!-- Add more course items here -->
                        <div class="col-lg-4 col-md-6">
                            <div class="courses-item">
                                <div class="text-center p-4">
                                    <h5 class="mb-3">Technical Course 2</h5>
                                    <p>"Unlock your potential with our cutting-edge technical courses designed for success."</p>
                                </div>
                                <img class="img-fluid" src="img/tech.jpg" alt="">
                                <!-- <div class="courses-overlay">
                                    <a class="btn btn-outline-light border-2" href="#">Read More</a>
                                </div> -->
                            </div>
                        </div>
                        <!-- Add more course items here -->
                        <div class="col-lg-4 col-md-6">
                            <div class="courses-item">
                                <div class="text-center p-4">
                                    <h5 class="mb-3">Technical Course 3</h5>
                                    <p>"Unlock your potential with our cutting-edge technical courses designed for success."</p>
                                </div>
                                <img class="img-fluid" src="img/comp.jpg" alt="">
                                <!-- <div class="courses-overlay">
                                    <a class="btn btn-outline-light border-2" href="#">Read More</a>
                                </div> -->
                            </div>
                        </div>
                        <!-- Add more course items here -->
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container py-6">
                    <div class="text-center mb-5">
                        <h6 class="text-primary text-uppercase mb-2">Trending Courses</h6>
                        <h1 class="display-6 mb-4">Upskill Yourself With Professional Training</h1>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-6">
                            <div class="courses-item">
                                <div class="text-center p-4">
                                    <h5 class="mb-3">Technical Course 1</h5>
                                    <p>"Unlock your potential with our cutting-edge technical courses designed for success."</p>
                                </div>
                                <img class="img-fluid" src="img/tech.jpg" alt="">
                                <!-- <div class="courses-overlay">
                                    <a class="btn btn-outline-light border-2" href="#">Read More</a>
                                </div> -->
                            </div>
                        </div>
                        <!-- Add more course items here -->
                        <div class="col-lg-4 col-md-6">
                            <div class="courses-item">
                                <div class="text-center p-4">
                                    <h5 class="mb-3">Technical Course 2</h5>
                                    <p>"Unlock your potential with our cutting-edge technical courses designed for success."</p>
                                </div>
                                <img class="img-fluid" src="img/eng.jpg" alt="">
                                <!-- <div class="courses-overlay">
                                    <a class="btn btn-outline-light border-2" href="#">Read More</a>
                                </div> -->
                            </div>
                        </div>
                        <!-- Add more course items here -->
                        <div class="col-lg-4 col-md-6">
                            <div class="courses-item">
                                <div class="text-center p-4">
                                    <h5 class="mb-3">Technical Course 3</h5>
                                    <p>"Unlock your potential with our cutting-edge technical courses designed for success."</p>
                                </div>
                                <img class="img-fluid" src="img/edu.jpg" alt="">
                                <!-- <div class="courses-overlay">
                                    <a class="btn btn-outline-light border-2" href="#">Read More</a>
                                </div> -->
                            </div>
                        </div>
                        <!-- Add more course items here -->
                    </div>
                </div>
                <!-- Add another carousel item -->
                <!-- Repeat the same structure for the second carousel item -->
            </div>
        </div>
        <!-- Carousel controls -->
        <button class="carousel-control-prev" type="button" data-bs-target="#course-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#course-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>