<!DOCTYPE html>
<html lang="en">

<body>
    <nav class="pcoded-navbar">
        <div class="navbar-wrapper">
            <div class="navbar-brand header-logo">
                <a href="index.html" class="b-brand">
                    <div class="">
                        <i href=></i>
                    </div>
                    <span class="b-title">RTC LMS</span>
                </a>
                <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
            </div>
            <div class="navbar-content scroll-div">
                <ul class="nav pcoded-inner-navbar">
                    <li class="nav-item pcoded-menu-caption">
                        <label>Navigation</label>
                    </li>
                    <li class="nav-item active">
                        <a href="index.html" class="nav-link ">
                            <span class="pcoded-micon"><i class="feather icon-home"></i></span><span
                                class="pcoded-mtext">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a href="tables.html" class="nav-link "><span class="pcoded-micon"><i
                                    class="feather icon-server text-c"></i></span><span
                                class="pcoded-mtext">Students</span></a>
                    </li>
                    <li class="nav-item ">
                        <a href="tables.html" class="nav-link "><span class="pcoded-micon"><i
                                    class="feather icon-book  text-c"></i></span><span
                                class="pcoded-mtext">Teachers</span></a>
                    </li>
                    <li class="nav-item pcoded-menu-caption">
                        <label>UI Element</label>
                    </li>
                    <li class="nav-item pcoded-hasmenu ">
                        <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i
                                    class="feather icon-box"></i></span><span class="pcoded-mtext">Components</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="bc_button.html" class="">Button</a></li>
                            <li class=""><a href="bc_badges.html" class="">Badges</a></li>
                            <li class=""><a href="bc_breadcrumb_pagination.html" class="">Breadcrumb & paggination</a>
                            </li>
                            <li class=""><a href="bc_collapse.html" class="">Collapse</a></li>
                            <li class=""><a href="bc_tabs.html" class="">Tabs & pills</a></li>
                            <li class=""><a href="bc_typography.html" class="">Typography</a></li>
                            <li class=""><a href="icon_feather.html" class="">Feather<span
                                        class="pcoded-badge label label-danger">NEW</span></a></li>
                        </ul>
                    </li>
                    <li class="nav-item pcoded-menu-caption">
                        <label>Forms & table</label>
                    </li>
                    <li class="nav-item ">
                        <a href="form_elements.html" class="nav-link "><span class="pcoded-micon"><i
                                    class="feather icon-file-text"></i></span><span class="pcoded-mtext">Form
                                elements</span></a>
                    </li>
                    <li class="nav-item ">
                        <a href="basic_tables.html" class="nav-link "><span class="pcoded-micon"><i
                                    class="feather icon-server"></i></span><span class="pcoded-mtext">Table</span></a>
                    </li>
                    <li class="nav-item pcoded-menu-caption">
                        <label>Chart & Maps</label>
                    </li>
                    <li class="nav-item "><a href="morris_chart.html" class="nav-link "><span class="pcoded-micon"><i
                                    class="feather icon-pie-chart"></i></span><span
                                class="pcoded-mtext">Chart</span></a>
                    </li>
                    <li class="nav-item "><a href="google_maps.html" class="nav-link "><span class="pcoded-micon"><i
                                    class="feather icon-map"></i></span><span class="pcoded-mtext">Maps</span></a>
                    </li>
                    <li class="nav-item pcoded-menu-caption">
                        <label>Pages</label>
                    </li>
                    <li class="nav-item pcoded-hasmenu">
                        <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i
                                    class="feather icon-lock"></i></span><span class="pcoded-mtext">Class
                                Schedule</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="register.html" class="" target="_blank">Sign up</a></li>
                            <li class=""><a href="login.html" class="" target="_blank">Sign in</a></li>
                        </ul>
                    </li>
                    <li class="nav-item "><a href="profile.html" class="nav-link"><span class="pcoded-micon"><i
                                    class="feather icon-user"></i></span><span class="pcoded-mtext">Profile
                                Page</span></a>
                    </li>
                    <li class="nav-item "><a href="sample_page.html" class="nav-link"><span class="pcoded-micon"><i
                                    class="feather icon-sidebar"></i></span><span class="pcoded-mtext">Sample
                                page</span></a>
                    </li>
                    <li class="nav-item disabled"><a href="javascript:" class="nav-link"><span class="pcoded-micon"><i
                                    class="feather icon-power"></i></span><span class="pcoded-mtext">Disabled
                                menu</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</body>

</html>